//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 16 04:23:14 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Cancel" LOCATE = SITE "E2" LEVEL 1;
COMP "Call" LOCATE = SITE "N3" LEVEL 1;
COMP "OOOut" LOCATE = SITE "G1" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

